@import "https://fonts.googleapis.com/css2?family=Poppins";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
  color: #fff;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  display: inline-block;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0 60px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 30.5px;
}

.font__menu {
  color: white;
  display: inline;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 39px;
  text-transform: uppercase;
  cursor: pointer;
}

.srch__header {
  margin-top: 6.5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.srch__header svg {
  float: right;
  margin-left: 20px;
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__header .logo__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 184px;
          flex: 0 0 184px;
}

.nav__header .menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 890px;
      flex-basis: 890px;
}

.nav__header .menu__header li {
  margin-left: 43px;
}

.nav__header .menu__header li:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__header .menu__header a:hover {
  color: #FEB900;
}

.nav__header .marginf__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 230px;
          flex: 1 1 230px;
}

.nav__header .margins__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 340px;
          flex: 1 1 340px;
}

.burger {
  display: none;
  margin-top: 7.5px;
}

.burgerLock {
  overflow: hidden;
}

.mainMenu {
  height: 100%;
  display: block;
}

.mainMenu .slider {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainMenu .images-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition-duration: 3s;
       -o-transition-duration: 3s;
          transition-duration: 3s;
}

.mainMenu .images-container img {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.mainMenu #dots-block {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: absolute;
  bottom: 50%;
  right: 61px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mainMenu .dot {
  margin-top: 42px;
  width: 41px;
  height: 1px;
  background: #CBB78B;
  cursor: pointer;
  outline: none;
}

.mainMenu .dot-active {
  width: 88px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.mainProjects {
  padding: 178px 61px 0 61px;
}

.mainProjects .itemFirst__mainProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainProjects .itemFirst__mainProjects img {
  max-width: 585px;
  max-height: 603px;
}

.mainProjects .itemFirst__mainProjects .item__item:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 314px;
          flex: 1 1 314px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.mainProjects .itemFirst__mainProjects .item__item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 707px;
          flex: 1 1 707px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainProjects .itemFirst__mainProjects .item__item:nth-child(2) p:first-child {
  line-height: 154%;
  margin-bottom: 20px;
  letter-spacing: 0.72em;
}

.mainProjects .itemFirst__mainProjects .item__item:nth-child(2) div:last-child {
  width: 440px;
}

.mainProjects .itemFirst__mainProjects .item__item:nth-child(2) .content {
  margin: 36px 0 40px 0;
  font-size: 14px;
  line-height: 200%;
  text-transform: none;
  font-weight: 400;
}

.mainProjects .itemFirst__mainProjects .item__item:nth-child(2) span {
  color: #FEB900;
}

.mainProjects .itemFirst__mainProjects .item__item:nth-child(2) a {
  color: #000;
}

.mainProjects .itemFirst__mainProjects .item__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 585px;
          flex: 0 1 585px;
}

.mainProjects .itemFirst__mainProjects p {
  font-weight: 600;
  line-height: 154%;
  text-transform: uppercase;
  color: #999999;
}

.mainProjects .itemFirst__mainProjects .rectangles {
  height: 400px;
  width: 98px;
  border: solid 1px #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainProjects .itemFirst__mainProjects .rectangles p:first-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.26em;
}

.mainProjects .itemFirst__mainProjects .rectangles p:last-child {
  letter-spacing: 0.16em;
  font-size: 20px;
}

.inline {
  display: inline;
}

h2 {
  ont-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  color: #000;
}

body {
  font-family: "Poppins";
  color: #999999;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1400px) {
  .nav__header .menu__header {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

@media (max-width: 1350px) {
  .mainProjects .itemFirst__mainProjects .item__item:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .mainProjects .itemFirst__mainProjects item__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .mainProjects .itemFirst__mainProjects .item__item:first-child {
    visibility: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0px;
    height: 0;
  }
}

@media (max-width: 1050px) {
  .mainProjects {
    padding-top: 81px;
  }

  .mainProjects .itemFirst__mainProjects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mainProjects .itemFirst__mainProjects .item__item:last-child {
    width: 85%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 40px;
    height: 1;
  }
}

@media (max-width: 1000px) {
  .nav__header .menu__header li {
    margin-left: 20px;
  }
}

@media (max-width: 870px) {
  header {
    padding: 30.5px 20px;
  }
}

@media (max-width: 767px) {
  .nav__header .menu__header li:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .burger {
    display: block;
    z-index: 10;
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  .burger::before,
  .burger::after,
  .burger span {
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .burger::before,
  .burger::after {
    content: "";
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__header {
    font-weight: 600;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    visibility: none;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10000px;
    position: absolute;
    top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 25px;
    left: -150%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .menu__header .fixed__liHeader {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

  .menu__header a {
    color: #fff;
  }

  .menu__header li {
    text-align: center;
    -ms-flex-preferred-size: 70px;
        flex-basis: 70px;
  }

  .burger {
    margin-left: 20px;
  }

  .burgerActivate {
    left: 0;
  }

  .font__menu {
    font-size: 30px;
    letter-spacing: 7px;
  }

  .animateBurger span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .animateBurger::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .animateBurger::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}

@media (max-width: 650px) {
  .mainProjects {
    padding: 30px;
  }

  .mainProjects {
    padding: 20px;
  }

  .mainProjects .itemFirst__mainProjects .item__item:last-child {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .mainProjects {
    padding: 10px;
  }
}